@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #e6e6e6;
}

.container {
  max-width: 450px;
  margin: 50px auto;
  overflow: auto;
  min-height: 300px;
  padding: 30px;
  border-radius: 5px;
  background-color: #ffffff;
}

.btn {
  display: inline-block;
  background: #95ddce;
  color: #000;
  border: none;
  padding: 5px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.traverse {
  background: #ffffff;
  color: #7eacb9;
}

.delete {
  background: rgb(200, 0, 0);
  color: #000
}

.btn.focus {
  outline: none;
}

.btn:active {
  transform: scale(0.95);
}

.bordered {
  border: 1px solid;
  border-radius: 5px;
  background-color: #ffffff;
  color: #95ddce;
  padding: 20px;
  margin: auto;
}

input {
  margin-bottom:10px;
}

label {
  display: block;
  width: 130px;
  color: #000;
}